### Custom ###
tmp/
.env
simpler-robot/
laocai-app/src/main/resources/application.yml
/laocai-app/application.yml
.bun-install/
.bun/
.bun-tmp/
.kotlin/

.claude/
cookies.txt
papers/

.agents/

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/laocai-bot-spring-boot-starter/src/test/resources/application.yml
/laocai-bot-spring-boot-starter/src/test/resources/application-*.yml
/laocai-app/src/test/resources/application.yml
/laocai-app/src/test/resources/application-*.yml
